/* custom fonts */

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
         url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff') format('woff')
         url('webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}





/* start */





html
{
    overflow-x: hidden;
}
.navbar-nav{
    /* font-family: Arial; */
    font-size: 20px;
}

.nav-link{
    color: white;
}

.svnit_photo {
   /* height:100px; */
   width:150px;
   height: auto;
   margin-left: 10px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.v1 {
    height: 70px;
    border-left: 1px solid white;
    position: relative;
    top : 0;
    margin-left: 0%;
}
.v2 {
    height: 70px;
    border-left: 1px solid black;
    position: relative;
    top : 0;
    margin-left: 0%;
}

.nit_photo{
    width:80px;
    height: auto;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body
{
    font-family: 'PlusJakartaSans', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}









.main-div{
    width: 100%;
    height: 100vh;
    background-image: url(images/image3.png);
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-repeat: no-repeat;
    box-shadow: 0px -170px 180px 50px rgba(0, 0, 0, 0.9) inset, 0px 70px 90px 20px rgba(0, 0, 0, 0.7) inset;
}

.ref-image{
    display: flex;
    justify-content: center;
}

.ref-image .ref-title{
    bottom: 0;
    position: absolute;
    text-align: center;
    color: #fff;
    text-shadow: 0 0 30px black;
}

.ref-image .ref-title h3{
    font-weight: bold;
    letter-spacing: 8px;
    font-size: 40px;
    padding-bottom: 50px;
}

.ref-image .ref-title h1{
    font-weight: bolder;
    letter-spacing: 10px;
    font-size: 140px;
    padding-bottom: 0;
}

.ref-aim{
    text-align: center;
    padding: 40px 10%;
}

.ref-aim h1{
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 25px;
    letter-spacing: 0.2em;
}

.ref-aim p{
    font-size: 22px;
}



.subsystems-link{
    width: 100%;
    margin-bottom: 40px;
    margin-top: 25px;
}

.sub-head{
    background-color: rgb(24, 30, 40);
    text-align: left;
    padding: 40px 10% 40px 10%;
}

.sub-head h1{
    font-size: 45px;
    font-weight: bold;
    text-align: left;
    color: white;
}

.sub-cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-sub{
    width: 22%;
    margin: 3%;
    height: 55vh;
    text-align: center;
    display: grid;
    align-content: space-between;
}

.image-sub{
    margin-bottom: 15px;
}

.image-sub img{
    width: 100%;
}

.div-sub h2{
    font-size: 20px;
    margin-bottom: 25px;
}

a.sub-link-button{
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: rgb(24, 30, 40);
    border: 2px solid rgb(24, 30, 40);
    padding: 9px 30px 9px 30px;
    border-radius: 10px;
    transition: 0.1s ease;
}

a.sub-link-button:hover{
    color: rgb(20,34,41);
    background-color: white;
    border: 2px solid rgb(24, 30, 40);
    transition: 0.1s ease;
}



.electronic{
    width: 100%;
    padding: 6% 10%;
}

.electronic p{
    font-size: 25px;
}


.seeding{
    width: 100%;
}

.module-box{
    width: 100%;
    padding: 3% 8%;
}

.module-box h1{
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 25px;
}

.module-box h2{
    font-size: 60px;
    padding-bottom: 20px;
}

.module-box p{
    font-size: 20px;
}

.module-img{
    width: 65%;
}

.module-img img{
    width: 100%;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.4);
}

.module-box h3{
    padding: 35px 0;
    font-size: 25px;
}

.seed-mod{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.weed-mod{
    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    column-gap: 20px;
}

.seed-card{
    width: 100%;
    height: 100%;
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid lightgray;
    border-radius: 20px;
}

.seed-card h2{
    font-weight: bold;
    font-size: 40px;
}

.seed-card p{
    font-size: 16px;
    padding-bottom: 15px;
}

.seed-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.seed-img img{
    max-height: 400px;
    max-width: 90%;
    border: 0px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}




































@media (max-width:640px){
    .v1 {
        height: 50px;
    }
    .v2 {
        height: 50px;
    }

    .nit_photo{
        width:50px;
        height: auto;
        margin-left: 7px;
        margin-right: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .main-div{
        width: 100%;
        height: auto;
        background-image: none;
        background-color: darkgray;
    }

    .ref-image{
        height: 45vh;
        background-image: url(images/envision/roverlink.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
        background-repeat: no-repeat;
        box-shadow: 0px -50px 100px 20px rgba(0, 0, 0, 0.9) inset, 0px 10px 50px 10px rgba(0, 0, 0, 0.4) inset;
        display: flex;
        justify-content: center;
    }

    .ref-image .ref-title{
        top: 25vh;
        position: relative;
        text-align: center;
        color: #fff;
        text-shadow: 0 0 30px black;
    }

    .ref-image .ref-title h3{
        font-weight: bold;
        letter-spacing: 5px;
        font-size: 21px;
        padding-bottom: 20px;
    }

    .ref-image .ref-title h1{
        font-weight: bolder;
        letter-spacing: 7px;
        font-size: 50px;
    }

    .ref-intro{
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .ref-irdc{
        display: grid;
    }

    .ref-imh{
        display: grid;
    }

    .ref-gujcost{
        display: grid;
    }

    .right-text{
        width: 100%;
        padding: 25px 25px;
    }

    .right-text p{
        font-size: 13px;
        text-align: justify;
    }

    .right-image{
        width: 100%;
        padding: 10px 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .right-image img{
        width: 100%;
    }

    .left-text{
        grid-row: 1;
        width: 100%;
        padding: 25px 25px;
    }

    .left-text p{
        font-size: 13px;
        text-align: justify;
    }

    .left-image{
        grid-row: 2;
        width: 100%;
        padding: 10px 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-image img{
        width: 100%;
    }

    .ref-intro-last p{
        font-size: 13px;
        padding: 18px 25px;
        text-align: justify;
    }

    .competition-buttons{
        display: flex;
        margin-top: 40px;
    }

    a.competition-site{
        text-align: center;
        text-decoration: none;
        width: 48%;
        margin-right: 2%;
        background-color: transparent;
        padding: 7px 0 9px 0;
        color: black;
        font-size: 25px;
        border: 2px solid black;
        border-radius: 10px;
        transition: all 0.1s ease;
    }

    a.competition-site:hover{
        background-color: black;
        color: white;
        border: 2px solid black;
        transition: all 0.1s ease;
        font-weight: bold;
    }

    a.competition-design{
        text-align: center;
        text-decoration: none;
        width: 48%;
        margin-left: 2%;
        background-color: transparent;
        padding: 7px 0 9px 0;
        color: black;
        font-size: 25px;
        border: 2px solid black;
        border-radius: 10px;
        transition: all 0.1s ease;
    }

    a.competition-design:hover{
        background-color: black;
        color: white;
        border: 2px solid black;
        transition: all 0.1s ease;
        font-weight: bold;
    }

    a.ref-comp-redirect{
        text-decoration: none;
        font-style: italic;
        color: dodgerblue;
    }

    a.ref-comp-redirect:hover{
        color: indianred;
    }





    .subsystems-link{
        width: 100%;
        margin-bottom: 40px;
        margin-top: 25px;
    }

    .sub-head{
        background-color: rgb(24, 30, 40);
        text-align: left;
        padding: 30px;
    }

    .sub-head h1{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: white;
    }

    .sub-cards{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div-sub{
        width: 22%;
        height: 30vh;
        margin: 3%;
        text-align: center;
        display: grid;
        align-content: space-between;
    }

    .image-sub{
        margin-bottom: 10px;
    }

    .image-sub img{
        width: 100%;
    }

    .div-sub h2{
        font-size: 10px;
        margin-bottom: 15px;
    }

    a.sub-link-button{
        text-decoration: none;
        color: white;
        font-size: 10px;
        background-color: rgb(24,30,40);
        border: 2px solid rgb(24, 30, 40);
        padding: 6px 15px 6px 15px;
        border-radius: 8px;
        transition: 0.1s ease;
    }

    a.sub-link-button:hover{
        color: rgb(20,34,41);
        background-color: white;
        border: 2px solid rgb(24, 30, 40);
        transition: 0.1s ease;
    }
}





































@media(max-width:978px)
{
    .hello
    {
        padding-top: 50px;
    }
}

@media (max-width: 600.98px) {
    .con{
    border:2px solid transparent;
    padding-left: 20px;
    padding-right: 10px;
    }
    .svnit_photo {
        margin-left: 0%;
        /* height: 75px; */
        width: 130px;
        height: auto;
    }
    .hello1{
    height: 250px;
    }

    .hello2{
    height: 250px;
    }

    .hello3{
    height: 250px;
    }
    .about_us_content
    {
        font-weight: 400;
    }
    .pad_data
    {
        font-weight: 400;
    }
}
.dob .x
{
    color:white;
     padding-top:30px;
}
@media(max-width:800px)
{
    .dob .x{
        padding-top:4px;
    }
}
.dob
{
    padding-left: 50px;
     padding-top: 50px;
    padding-right: 50px;
}
@media(max-width:450px)
{
    .dob
    {
        padding-right: 0px;
        padding-left:0px;
    }
}
@media(max-width:978px)
{
    .ifr
    {
        padding-top: 80px;
    }
}
