/* custom fonts */

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff2') format('woff2'),
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Regular.woff') format('woff')
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff2') format('woff2'),
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Light.woff') format('woff')
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff2') format('woff2'),
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Medium.woff') format('woff')
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Medium.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff2') format('woff2'),
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Bold.woff') format('woff')
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff2') format('woff2'),
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.woff') format('woff')
         url('../webfonts/PlusJakartaSans/PlusJakartaSans-ExtraBold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}





/* start */





html
{
    overflow-x: hidden;
}
.navbar-nav{
    /* font-family: Arial; */
    font-size: 20px;
}

.nav-link{
    color: black;
}

.svnit_photo {
   width:150px;
   height: auto;
   margin-left: 10px;
   margin-top: 0px;
   margin-bottom: 0px;
}

.v1 {
    height: 70px;
    border-left: 1px solid white;
    position: relative;
    top : 0;
    margin-left: 0%;
}
.v2 {
    height: 70px;
    border-left: 1px solid black;
    position: relative;
    top : 0;
    margin-left: 0%;
}

.nit_photo{
    width:80px;
    height: auto;
    margin-left: 30px;
    margin-right: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body
{
    font-family: 'PlusJakartaSans', Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.main-nav{
    width: 100%;
    height: auto;
}

.title{
    margin-top: 40px;
    margin-bottom: 110px;
    width: 100%;
    text-align: center;
}

.title h1{
    font-size: 60px;
    font-weight: bold;
}

.title h3{
    font-size: 40px;
    font-style: italic;
}

.topics{
    display: flex;
    justify-content: center;
    align-items: top;
    width: 100%;
}

.cards{
    width: 12%;
    margin: 2%;
    text-align: center;
}

.images{
    margin-bottom: 20px;
}

.images img{
    width: 100%;
}

.cards a{
    font-size: 20px;
}



.subs{
    width: 100%;
    display: flex;
}

.sub-img-box{
    width: 50%;
    padding: 7%;
    display: grid;
    align-items: center;
}

.sub-img-box img{
    width: 100%;
    margin-bottom: 20px;
}

.sub-text{
    width: 50%;
    text-align: left;
    padding: 8%;
}

.sub-text h1{
    font-size: 40px;
    font-weight: bold;
    padding: 15px 0 20px 0;
}

.sub-text p{
    font-size: 20px;
    padding: 5px 0 20px 0;
}
























@media (max-width:640px){
    .svnit_photo {
       width:130px;
       height: auto;
       margin-left: 0px;
       margin-top: 0px;
       margin-bottom: 0px;
    }

    .v1 {
        height: 50px;
    }
    .v2 {
        height: 50px;
    }

    .nit_photo{
        width:50px;
        height: auto;
        margin-left: 7px;
        margin-right: 3px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .title{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .title h1{
        font-size: 35px;
        font-weight: bold;
    }

    .title h3{
        font-size: 30px;
        font-style: italic;
    }

    .topics{
        display: grid;
        justify-content: center;
        align-items: top;
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .cards{
        width: 60%;
        margin: 8% 20%;
        text-align: center;
    }

    .images{
        margin-bottom: 10px;
    }

    .images img{
        width: 100%;
    }

    .cards a{
        font-size: 16px;
    }



    .subs{
        width: 100%;
        display: grid;
    }

    .sub-img-box{
        width: 100%;
        padding: 7%;
        display: grid;
        align-items: center;
    }

    .sub-img-box img{
        width: 100%;
        margin-bottom: 10px;
    }

    .sub-text{
        width: 100%;
        text-align: justify;
        padding: 25px;
    }

    .sub-text h1{
        font-size: 30px;
        font-weight: bold;
        padding: 10px 0 15px 0;
    }

    .sub-text p{
        font-size: 16px;
        padding: 5px 0 20px 0;
    }
}
